:root {
    --image-height: 500px;
    --image-width: calc((var(--image-height) / 3.5) * 2.5);
    --image-padding: 0.5em;
    --image-border-radius: 25px;
}


body {
    background: linear-gradient(to top, lightgreen, lightblue);
    min-height: 100vh;
    font-family: system-ui, sans-serif;
}

input {
    font-family: system-ui, sans-serif;
    font-size: large;
    margin-top: 0.1em;
    background: lightcyan;
    border: none;
}

input[type=submit]:hover {
    background: cyan;
}

select {
    font-family: system-ui, sans-serif;
    font-size: large;
    margin-top: 0.1em;
    background: lightcyan;
    border: none;
}

.com-img {
    height: var(--image-height);
    width: var(--image-width);
    /* object-fit: cover;
    object-position: 0%; */
}

.com-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(var(--image-width) + 2 * var(--image-padding)));
    width: 100%;
}

.com-list a {
    text-decoration: none;
}

.com-list img {
    padding: var(--image-padding);
    border-radius: var(--image-border-radius);
}

.com-list img:hover {
    padding: 0;
    width: calc(var(--image-width) + 2 * var(--image-padding));
    height: calc(var(--image-height) + 2 * var(--image-padding));
    filter: drop-shadow(0 0 1em black)
}

.single-com-img {
    float: left;
}

.single-com-img h2 {
    margin: 0;
}

.single-com-img #upvote {
    height: 1em;
    width: 1em;
}

.single-com-img img {
    border-radius: var(--image-border-radius);
}

.author-comment {
    overflow: hidden;
    margin-left: calc(var(--image-width) + 1em);
    max-width: 50%;
}

.update-com {
    margin-left: calc(var(--image-width) + 1em);
}

.update-com input {
    min-width: 20em;
}

.update-com textarea {
    font-family: system-ui, sans-serif;
    min-width: 25em;
    min-height: 10em;
    font-size: large;
    margin-top: 0.15em;
    background: lightcyan;
    border: none;
}

.update-com input[type=submit] {
    min-width: 0;
}

.update-com input[type=checkbox] {
    min-width: 0;
} 

.short {
    min-width: 10em;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgreen;
}

.navbar img {
    width: 5em;
    height: 3em;
}

li {
    display: inline;
}

.navbar li {
    float:left;
}

.navbar li a {
    display: block;
    padding: 0.5em;
}

.navbar li a:hover {
    background-color: cadetblue;
}

.navbar li .active {
    background-color: steelblue;
}

.page-navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
}

.page-navigation li {
    font-size: xx-large;
}

.page-navigation input {
    width: 1.5em;
    height: 1.5em;
    font-size: xx-large;
    margin-bottom: 1em;
}
