:root {
    --image_height: 420px;
}

body {
    background-color: lightblue;
    font-family: system-ui, sans-serif;
}

select {
    background-color: lightgreen;
    border: none;
    font-size: large;
    font-family: system-ui, sans-serif;
}

img {
    height: var(--image_height);
}

.only_img {
    float: left;
    margin-right: 10px;
}

.comment {
    overflow: hidden;
    max-width: 70%;
    padding: 10px;
    background-color: lightskyblue;
    border: 3px solid whitesmoke;
}

h2 {
    position: absolute;
    top: calc(var(--image_height) + 120px);
}

.commanders {
    list-style-type: none;
}

.commanders img {
    padding: 3px;
}

.commanders img:hover {
    background-color:blue;
}

.pages {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    overflow: hidden;
}

.pages li {
    font-size: large;
    font-family: system-ui, sans-serif;
}

.total_results {
    margin-top: 5px;
    font-size: large;
    font-family: system-ui, sans-serif;
}

input[type="submit"] {
    background-color: lightgreen;
    border: none;
    width: 5%;
    font-size: large;
    font-family: system-ui, sans-serif;
}

input[type="text"] {
    background-color: lightgreen;
    border: none;
    font-size: large;
}

input:hover {
    background-color: lightgray;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #BDE4A7;
}

li {
    display: inline;
}

.navbar li {
    float:left;
}

.navbar li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: cadetblue;
}

.active {
    background-color: steelblue;
}
