<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="https://styles.redditmedia.com/t5_1skbaa/styles/profileIcon_f6dduh223tq91.jpg">
        <link rel="stylesheet" href={{ url_for("static", filename="stylesheet.css") }}>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <ul class="navbar">
            <li><a href={{ url_for("index") }}
                {% if page == "search" %}class="active"{% endif %}>
                <img src="https://pic.onlinewebfonts.com/thumbnails/icons_572392.svg">
            </a></li>
            <li><a href={{ url_for("random_commander") }}><img src="https://pic.onlinewebfonts.com/thumbnails/icons_425382.svg"></a></li>
            <li style="float:right;"><a href={{ url_for("about") }}
                {% if page == "about" %}class="active"{% endif %}>
                <img src="https://pic.onlinewebfonts.com/thumbnails/icons_213782.svg">
            </a></li>
        </ul>
        {% block content %}{% endblock %}
    </body>
</html>