{% extends 'base.html' %}
{% block title %}{{ commander['name'] }}{% endblock %}

{% block content %}
    <h1>{{ commander['name'] }}</h1>

    <div class="single-com-img">
        <a href="{{ commander['post_url'] }}" target="_blank">
            <img src="{{ commander['image_url'] }}">
        </a>
        <h2><img id="upvote" src="https://pic.onlinewebfonts.com/thumbnails/icons_518334.svg">{{ commander['ups'] }}</h2>
    </div>
    <form class="update-com" method="post">
        <input name="name" type="text" placeholder="Name..." value="{{ commander['name'] }}">
        <input name="mana_cost" type="text" class="short" placeholder="Mana Cost..." value="{{ commander['mana_cost'] }}">
        <br>
        <input name="type" type="text" placeholder="Type..." value="{{ commander['type'] }}">
        <label>Is Un</label>
        <input name="is_un" type="checkbox" {% if commander['is_un'] %} checked {% endif %}>
        <br>
        <textarea name="oracle_text" placeholder="Oracle Text..." rows="6">{{ commander['oracle_text'] }}</textarea>
        <br>
        <input name="power" type="text" class="short" placeholder="Power..." value="{{ commander['power'] }}">
        <input name="toughness" type="text" class="short" placeholder="Toughness..." value="{{ commander['toughness'] }}">

        <br>
        <input type="submit" value="Update">
    </form>
    <br>
    <div class="author-comment">
        <h3>Author's comment</h3>
        <p>
            {% autoescape false %}
            {{ commander['author_comment'] }}
            {% endautoescape %}
        </p>
    </div>
{% endblock %}